div {
    float: left;
    margin: 3em 0;
    width: 100%;
}

input {
    float: left;
    margin: 0.25em;
    width: 90%;
}

label {
    float: left;
    text-align: left;
    width: 40%;
}

span {
    color: #b3b3b3;
    float: right;
    width: 50%;
}