<div style="text-align: center">
  <h1>Welcome to custom-angular-components!</h1>
  <form>
    <custom-angular-components-form-input
      [title]="'First Name'"
      [description]="'User\'s First Name'">
    </custom-angular-components-form-input>
    <custom-angular-components-form-input
      [title]="'Last Name'"
      [description]="'User\'s Last Name'">
    </custom-angular-components-form-input>
    <custom-angular-components-form-input
      [title]="'Email'"
      [description]="'User\'s Email Address'">
    </custom-angular-components-form-input>
  </form>
</div>
